[submodule "externals/SQLiteCpp"]
	path = externals/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "externals/libzmq"]
	path = externals/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "externals/cppzmq"]
	path = externals/cppzmq
	url = https://github.com/zeromq/cppzmq.git
